/*
0 0 4rem $color-three,
0 0 6rem $color-three,
0 0 8rem $color-three,
0 0 10rem $color-three; */
/*
0 0 4rem $color-four,
0 0 6rem $color-four,
0 0 8rem $color-four,
0 0 10rem $color-four; */
/*
0 0 4rem $color-five,
0 0 6rem $color-five,
0 0 8rem $color-five,
0 0 10rem $color-five; */
.section-contact {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.section-contact .container .contact-wrapper {
  width: 85dvw;
  height: 92dvh;
  background-color: #000000;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-contact .container .contact-wrapper div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-contact .container .contact-wrapper div h3 {
  top: 0;
  color: #FF0099;
  font-size: 8dvw;
  font-family: "Big Shoulders Display", sans-serif;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  text-shadow: -0.2rem -0.2rem 1rem #FF0099, 0.2rem 0.2rem 1rem #FF0099, 0 0 2rem #FF0099;
}
.section-contact .container .contact-wrapper div h3::-moz-selection {
  background-color: #FF0099;
  color: #FF0099;
}
.section-contact .container .contact-wrapper div h3::selection {
  background-color: #FF0099;
  color: #FF0099;
}
.section-contact .container .contact-wrapper div h3:focus {
  outline: none;
}
.section-contact .container .contact-wrapper div:first-of-type {
  height: 10%;
}
.section-contact .container .contact-wrapper div:nth-of-type(2) {
  height: 80%;
  width: 75%;
  margin-top: 5dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.section-contact .container .contact-wrapper div:nth-of-type(2) a {
  text-decoration: none;
}
.section-contact .container .contact-wrapper div:nth-of-type(2) .link-wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.section-contact .container .contact-wrapper div:nth-of-type(2) .link-wrapper div {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-contact .container .contact-wrapper div:nth-of-type(2) .link-wrapper div a {
  width: 100%;
  height: 24px;
}
.section-contact .container .contact-wrapper div:nth-of-type(2) .link-wrapper div a p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.section-contact .container .contact-wrapper div:last-of-type {
  height: 10%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.circle i {
  color: #000000;
}

.socialmedia {
  margin: 16px;
  text-decoration: none;
}
.socialmedia:last-of-type {
  margin-left: 0;
}

/*# sourceMappingURL=contact.css.map */
