/*
0 0 4rem $color-three,
0 0 6rem $color-three,
0 0 8rem $color-three,
0 0 10rem $color-three; */
/*
0 0 4rem $color-four,
0 0 6rem $color-four,
0 0 8rem $color-four,
0 0 10rem $color-four; */
/*
0 0 4rem $color-five,
0 0 6rem $color-five,
0 0 8rem $color-five,
0 0 10rem $color-five; */
/*
0 0 4rem $color-three,
0 0 6rem $color-three,
0 0 8rem $color-three,
0 0 10rem $color-three; */
/*
0 0 4rem $color-four,
0 0 6rem $color-four,
0 0 8rem $color-four,
0 0 10rem $color-four; */
/*
0 0 4rem $color-five,
0 0 6rem $color-five,
0 0 8rem $color-five,
0 0 10rem $color-five; */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #FF0099, 0 0 11px #FF0099, 0 0 19px #FF0099, 0 0 40px #FF0099, 0 0 80px #FF0099;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@keyframes flicker-light {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #FF0099, 0 0 11px #FF0099;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
header {
  height: 100dvh;
}
header .container .header-wrapper nav {
  background-color: #ffffff;
  width: 100dvw;
  height: 6dvh;
  left: 0;
  top: -15dvh;
  position: fixed;
  z-index: 30;
  opacity: 0.25;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition-property: top, opacity;
  transition-duration: 0.5s;
}
@media (min-width: 1024px) {
  header .container .header-wrapper nav {
    height: 8dvh;
  }
}
header .container .header-wrapper nav .nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .container .header-wrapper nav .nav-wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .container .header-wrapper nav .nav-wrapper div a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .container .header-wrapper nav .nav-wrapper div a i {
  font-size: 2.5dvw;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}
header .container .header-wrapper nav .nav-wrapper div a img {
  height: 7dvh;
  width: 7dvh;
}
@media (min-width: 1024px) {
  header .container .header-wrapper nav .nav-wrapper div a img {
    height: 9dvh;
    width: 9dvh;
  }
}
header .container .header-wrapper nav .nav-wrapper div h3 {
  color: #FF0099;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
header .container .header-wrapper .nav-show {
  top: 0;
  opacity: 1;
}
header .container .header-wrapper article {
  height: 106dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5dvh;
}
@media (min-width: 1024px) {
  header .container .header-wrapper article {
    flex-direction: row;
    height: 104dvh;
    gap: 15.5dvh;
  }
}
header .container .header-wrapper article a {
  width: 43dvh;
  height: 43dvh;
  background-color: #000000;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  header .container .header-wrapper article a {
    width: 65dvh;
    height: 65dvh;
  }
}
@media (hover) {
  header .container .header-wrapper article a:hover h3 {
    animation: flicker 1.5s infinite;
  }
}
header .container .header-wrapper article a h3 {
  top: 0;
  color: #FF0099;
  font-size: clamp(8px, 8dvw, 32px);
  font-family: "Big Shoulders Display", sans-serif;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  text-shadow: -0.2rem -0.2rem 1rem #FF0099, 0.2rem 0.2rem 1rem #FF0099, 0 0 2rem #FF0099;
}
header .container .header-wrapper article a h3::-moz-selection {
  background-color: #FF0099;
  color: #FF0099;
}
header .container .header-wrapper article a h3::selection {
  background-color: #FF0099;
  color: #FF0099;
}
header .container .header-wrapper article a h3:focus {
  outline: none;
}
header .container .header-wrapper article a img {
  width: 30dvh;
  height: 30dvh;
}
@media (min-width: 1024px) {
  header .container .header-wrapper article a img {
    width: 45dvh;
    height: 45dvh;
  }
}

.menu {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu > li a {
  color: #FF0099;
  text-decoration: none;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu > li a::-moz-selection {
  background-color: #FF0099;
  color: #FF0099;
}
.menu > li a::selection {
  background-color: #FF0099;
  color: #FF0099;
}
.menu > li a:focus {
  outline: none;
}
@media (hover) {
  .menu > li a:hover {
    animation: flicker-light 1s infinite;
  }
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 7dvh;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #FF0099;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -14px;
}

.menu-button::after {
  content: "";
  margin-top: 14px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #ffffff;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1024px) {
  .menu-button-container {
    display: flex;
    padding-right: 16px;
  }
  .menu {
    z-index: 7;
    position: absolute;
    top: 6dvh;
    margin-top: 10dvh;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 10dvh;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 8dvw;
    padding: 1dvh;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li:first-of-type {
    height: calc((85dvh - 4em) / 2);
  }
  #menu-toggle:checked ~ .menu li:last-of-type {
    height: 100dvh;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #ffffff;
    background-color: #000000;
  }
  .menu > li a {
    color: #ffffff;
    font-size: 8dvw;
  }
}

/*# sourceMappingURL=header.css.map */
