@import './settings.scss';

.section-contact {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .container {

    .contact-wrapper {
      width: 85dvw;
      height: 92dvh;
      background-color: $color-two;
      border-radius: $base-size * 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      @media (min-width: $media-border) {
        height: 85dvh;
        max-width: $base-width;
      }

      h3 {
        margin-top: calc($base-size * 3);
        height: 100rem;
        color: $color-three;
        font-size: clamp($base-size, 6dvw, $base-size * 4);
        font-family: $font-one;
        text-align: center;
        text-transform: uppercase;
        text-shadow: $neon-glow-three;

        @media (max-height: $media-border-extra-small) and (orientation: landscape) {
          font-size: clamp($base-size, 6dvw, $base-size * 2);
        }

        &::-moz-selection {
          background-color: $color-three;
          color: $color-three;
        }

        &::selection {
          background-color: $color-three;
          color: $color-three;
        }

        &:focus {
          outline: none;
        }
      }

      .contact-image {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        border-bottom: 3px solid $color-five;

        img {
          width: 100%;
          margin: 0;

          @media (min-width: $media-border) {
            height: 30dvh;
            width: auto;
          }

          @media (max-width: $media-border) and (orientation: landscape) {
            height: 30dvh;
            width: auto;
          }
        }
      }

      .link-wrapper {
        margin: calc($base-size * 2);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc($base-size * 2);

        @media (min-width: $media-border) {

        }

        a {
          height: calc($base-size * 3);
          width: calc(100% - $base-size* 4);
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          @media (max-width: $media-border) and (orientation: landscape) {
            height: calc($base-size * 2);
          }

          @media (max-height: $media-border-extra-small) and (orientation: landscape) {
            height: calc($base-size * .5);
            margin: calc($base-size * .25);
          }

          p {
            color: $color-one;
            font-family: $font-two;
            font-weight: bold;
            margin: 0;
            padding: 0;
            padding-left: calc($base-size * 2);

            @media (max-width: $media-border-extra-small) {
              font-size: 4dvw;
            }

            @media (hover) {
              &:hover {
                animation: flicker 1.5s infinite;
              }
            }
          }

          div {
            width: calc($base-size * 3);
            height: calc($base-size * 3);
            border-radius: 50%;
            background-color: $color-one;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition-duration: $transition-time;
            transition-property: color, transform, background-color;

            @media (hover) {
              &:hover {
                transform: scale(1.2);
                background-color: $color-five;
              }
            }

            i {
              color: $color-two;
            }
          }
        }
      }
    }
  }
}
