@import './settings.scss';

.footer {
  width: 100dvw;
  bottom: -120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: .25;
  position: fixed;
  z-index: 90;
  transition-property: bottom, opacity;
  transition-duration: $transition-time;

  .footer-wrapper {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 95;

    .arrow-up {

      a {
        text-decoration: none;
        margin-bottom: calc($base-size * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc($base-size * 7);
        height: calc($base-size * 7);
        border-radius: 50%;
        background-color: $color-one;
        z-index: 100;
        transition-property: transform;
        transition-duration: $transition-time;

        i {
          color: $color-three;
          font-size: calc($base-size * 6);
          font-weight: bold;
          transition-property: color;
          transition-duration: $transition-time;
        }
      }
    }
  }

  &.footer-show {
    bottom: 0;
    opacity: 1;
  }
}
