@import './settings.scss';
@import './keyframes.scss';

header {
  height: 100dvh;

  .container {

    .header-wrapper {

      nav {
        background-color: $color-one;
        width: 100dvw;
        height: 6dvh;
        left: 0;
        top: -15dvh;
        position: fixed;
        z-index: 30;
        opacity: .25;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition-property: top, opacity;
        transition-duration: $transition-time;

        @media (min-width: $media-border) {
          height: 8dvh;
        }

        @media (orientation: landscape) {
          height: 10dvh;
        }

        .nav-wrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              i {
                font-size: 2.5dvw;
                font-weight: bold;
                font-style: normal;
                color: $color-two;
                text-transform: uppercase;
              }

              img {
                height: 7dvh;
                width: 7dvh;

                @media (min-width: $media-border) {
                  height: 9dvh;
                  width: 9dvh;
                }

                @media (orientation: landscape) {
                  height: 11dvh;
                  width: 11dvh;
                }
              }
            }

            h3 {
              color: $color-three;
              font-family: $font-two;
              text-align: center;
            }
          }
        }
      }

      .nav-show {
        top: 0;
        opacity: 1;
      }

      article {
        height: 106dvh;
        width: 100dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5dvh;

        @media (min-width: $media-border) {
          flex-direction: row;
          justify-content: space-between;
          height: 104dvh;
          width: 75dvw;
          max-width: $base-width;
        }

        @media (max-width: $media-border) and (orientation: landscape) {
          flex-direction: row;
          height: 110dvh;
          gap: calc((110dvh - 10dvh - 75dvh ) / 2);
        }

        a {
          width: 43dvh;
          height: 43dvh;
          background-color: $color-two;
          border-radius: $base-size * 3;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          @media (min-width: $media-border) {
            width: 65dvh;
            height: 65dvh;
          }

          @media (orientation: landscape) {
            width: 75dvh;
            height: 75dvh;
          }

          @media (hover) {
            &:hover h3 {
              animation: flicker 1.5s infinite;
            }
          }

          h3 {
            z-index: 10;
            top: 0;
            color: $color-three;
            font-size: clamp($base-size, 8dvw, $base-size * 4);
            font-family: $font-one;
            text-align: center;
            text-transform: uppercase;
            text-shadow: $neon-glow-three;

            &::-moz-selection {
              background-color: $color-three;
              color: $color-three;
            }

            &::selection {
              background-color: $color-three;
              color: $color-three;
            }

            &:focus {
              outline: none;
            }
          }

          img {
            height: 30dvh;

            @media (min-width: $media-border) {
              height: 45dvh;
            }
          }
        }
      }
    }
  }
}

.menu {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;

  a {
    color: $color-three;
    text-decoration: none;
    font-family: $font-one;
    font-size: calc($base-size * 2.5);
    font-weight: bold;
    text-transform: uppercase;

    &::-moz-selection {
      background-color: $color-three;
      color: $color-three;
    }

    &::selection {
      background-color: $color-three;
      color: $color-three;
    }

    &:focus {
      outline: none;
    }

    @media (hover) {
      &:hover {
        animation: flicker-light 1s infinite;
      }
    }
  }
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 7dvh;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $color-three;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -14px;
}

.menu-button::after {
  content: '';
  margin-top: 14px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: $color-one;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: $media-border) {

  .menu-button-container {
    display: flex;
    padding-right: $base-size * 2;
  }

  .menu {
    z-index: 7;
    position: absolute;
    top: 6dvh;
    margin-top: 10dvh;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (orientation: landscape) {
      top: 10dvh;
    }
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    height: 10dvh;
    font-family: $font-one;
    font-size: 8dvw;
    padding: 1dvh;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

    @media (orientation: landscape) {
      height: 16dvh;
    }

    &:first-of-type {
      height: calc((85dvh - 2em * 2) / 2);

      @media (orientation: landscape) {
        height: calc((90dvh - 10dvh * 3 - 1dvh * 6) / 3);
      }
    }

    &:last-of-type {
      height: 100dvh;
    }
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: $color-one;
    background-color: $color-two;

    a {
      color: $color-one;
      font-size: 8dvw;

      @media (orientation: landscape) {
        font-size: 4dvw;
      }
    }
  }

  .menu > li:not(:last-child) {
  }
}
