@import './typography.scss';

/* Variables */

/* Main colors */
$color-one: #ffffff;
$color-two: #000000;
$color-three: #e100ff;

/* Sizes */
$base-size: 8px;
$base-width: 780px;

/* Other */
$transition: all 1s;


/* Fonts */
$font-athena: 'Arial';
